.compare {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  &__bikes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 8px;
  }

  &__bike {
    &--name {
      padding-top: 32px;
    }

    &--price {
      padding-top: 16px;
    }
  }
}
