@use '../utils/mixins' as *;

.contact-us {
  &__title {
    padding-top: 80px;
    text-align: center;

    @include for-tablet {
      padding-top: 120px;
      grid-column: 2 / 6;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 48px;
    max-width: 280px;
  }

  &__input {
    height: 48px;
    width: 278px;
    border-radius: 40px;
    padding-left: 16px;
    background-color: rgba(248, 248, 250, 1);
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 20px;
    border: 0;
    box-sizing: border-box;

    @include for-tablet {
      width: 288px;
    }

    @include for-desktop {
      width: 411px;
      transition: color 0.3s ease;

      &:hover::placeholder {
      color: rgba(41, 41, 41, 1);
    }

      &:focus-visible {
        color: rgba(41, 41, 41, 1);
      }
      }
  }

  &__textarea {
    height: 148px;
    border-radius: 16px;
    padding-top: 14px;
  }

  &__button {
    width: 280px;

    @include for-tablet {
      width: 288px;
    }

    @include for-desktop {
      width: 411px;
    }
  }
}

.container-sendButton {
  padding-top: 32px;
}
