.details {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__detail {
    &--title {
      padding-top: 16px;
      padding-bottom: 8px;
    }

    &--photos {
      display: flex;
      padding-top: 40px;
      gap: 20px;
    }

    &--photo {
      background-color: transparent;
    }
  }
}

.explore {
  padding-top: 40px;
  text-align: center;

  &__button {
    width: 278px;
  }
}
