@use '../utils/mixins' as *;

.details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 92px;

  @include for-tablet {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
    padding-top: 120px;
  }

  @include for-desktop {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    padding-top: 144px;
  }

  &__title {
    padding-bottom: 8px;
    text-align: center;

    @include for-tablet {
      grid-column: 1 / 7;
    }

    @include for-desktop {
      padding-bottom: 56px;
      grid-column: 1 / -1;
    }
  }

  &__detail {
    @include for-tablet {
      grid-column: 1 / -1;
    }
    &-photos {
      display: flex;
      padding-top: 40px;
      gap: 20px;

      @include for-tablet {
        gap: 24px;
      }

      @include for-desktop {
        gap: 24px;
        padding-top: 0;
        max-width: 1020px;
      }

      &-photo {
        background-color: transparent;
      }
    }

    &-title {
      display: flex;
      font-weight: 700;
      font-style: Bold;
      font-size: 24px;
      line-height: 140%;
      letter-spacing: 0;
      padding-top: 16px;
      padding-bottom: 8px;
      max-width: 280px;

      @include for-desktop {
        max-width: 443px;
      }
    }

    &-text {
      justify-content: center;
      font-weight: 400;
      font-style: normal;
      font-size: 16px;
      line-height: 140%;
      letter-spacing: 0;
      padding-top: 8px;
      max-width: 280px;

      @include for-tablet {
        max-width: 600px;
      }

      @include for-desktop {
        max-width: 672px;
      }
    }
  }
}

.explore__container {
  display: flex;
  justify-content: center;
  padding-top: 40px;

  @include for-tablet {
    grid-column: 1 / -1;
  }

  @include for-desktop {
    grid-column: 1 / -1;
  }

  &-button {
    width: 278px;
    border: none;

    @include for-tablet {
      width: 392px;
    }

    @include for-desktop {
      width: 324px;
    }
  }
}
