.footer {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, minmax(130px, 1fr));
  gap: 20px;

  width: 100%;
  margin: 0;
  color: rgba(255, 255, 255, 1);

  &__background {
    height: 200px;
    width: 100vw;
    background-image: url(../images/photos/przejscie_mobile.jpg);
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
}
