@use '../utils/mixins' as *;

.footer {
  width: 100%;
  margin: 0;

  box-sizing: border-box;
  color: rgba(255, 255, 255, 1);

  &__content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    box-sizing: border-box;
    padding: 48px 20px 120px;

    @include for-tablet {
      display: grid;
      grid-template-columns: repeat(6, 80px);
      gap: 24px;
      justify-content: center;
      padding: 48px 20px 102px;
    }
  }

  &__background {
    height: 200px;
    width: 100%;
    background-image: url(../images/photos/przejscie_mobile.jpg);
    background-position: 80% center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;

    @include for-tablet {
      height: 480px;
    }
  }
}
