.header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(29, 29, 29, 1);
  background-image: url(../images/photos/bike-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0 20px;
  color: rgba(255, 255, 255, 1);

  &__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    box-sizing: border-box;
    height: 86px;

    &-logo {
      height: 38px;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-style: normal;
      font-size: 38px;
      line-height: 100%;
      letter-spacing: -1.5px;
      margin: 0;
      margin-block: 0;
      margin-inline: 0;
    }

    &-buttons {
      display: flex;
      gap: 27px;
      height: 24px;
      width: 72px;
      border: 0;
    }

    &-button {
      border: none;
      background-color: transparent;
      height: 24px;
      width: 24px;
      padding: 0;

      &--phone-icon {
        height: 18px;
        width: 18px;
      }

      &--menu-icon {
        height: 12px;
        width: 18px;
      }
    }
  }

  &__motto {
    height: 36px;
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    justify-content: flex-end;
    padding-bottom: 88px;
  }
}
