@use '../utils/mixins' as *;

.move-free {
  padding-top: 60px;
  color: rgba(255, 255, 255, 1);
  min-width: 280px;

  @include for-tablet {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 24px;
    justify-content: center;
    align-items: start;
    padding-top: 120px;
  }

  @include for-desktop {
    grid-template-columns: repeat(12, 63px);
    gap: 24px;
    justify-content: center;
    align-items: start;
    padding-top: 120px;
  }

  &__title {
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    font-weight: normal;

    @include for-tablet {
      font-size: 48px;
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }

    @include for-desktop {
      font-size: 64px;
      grid-column: 1 / 6;
      grid-row: 1 / 2;
    }
  }

  &__text {
    font-size: 23px;
    line-height: 140%;
    padding-top: 32px;
    font-weight: normal;
    width: 280px;

    @include for-tablet {
      grid-column: 4 / 7;
      grid-row: 1 / 2;
      padding: 0;
      width: 100%;

      @include for-desktop {
        grid-column: 6 / 12;
        grid-row: 1 / 2;
        padding: 0;
      }
    }
  }
}
