@use '../utils/mixins' as *;

.h2-title {
  font-size: 38px;
  color: rgba(255, 255, 255, 1);

  @include for-desktop {
    font-size: 56px;
  }
}
.h3-title {
  height: 32px;
  width: 100%;
  font-weight: 500;
  font-style: normal;
  font-size: 32px;
  line-height: 32px;
  letter-spacing: -1.5px;
  text-transform: capitalize;
  color: rgba(255, 255, 255, 1);

  @include for-tablet {
    font-size: 48px;
  }

  @include for-desktop {
    font-size: 63px;
  }
}

.h4-title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  line-height: 140%;
  color: rgba(255, 255, 255, 1);
}

.description-title {
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  line-height: 140%;
  padding-top: 8px;
  color: rgba(255, 255, 255, 1);
}

.button {
  height: 56px;
  color: black;
  background-color: white;
  border-radius: 40px;
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  box-sizing: border-box;

  @include for-desktop {
  transition:
    box-shadow 0.3s ease;

    &:hover {
      box-shadow: 0 4px 24px rgba(232, 232, 240, 0.4)
    }

    &:active {
      box-shadow: 0 8px 12px rgba(232, 232, 240, 0.6)
    }
  }
}
