@use 'utils';
@use './utils/reset';
@use './utils/fonts';
@use './blocks/header';
@use './blocks/move-free-section';
@use './blocks/compare-section';
@use './blocks/details-section';
@use './blocks/footer';
@use './blocks/contact-us-section';
@use './blocks/contact-section';

.photo {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-top: 40px;
}

.main {
  padding: 0 20px;
  box-sizing: border-box;
}
