@use './utils/reset';
@use './utils/mixins' as *;
@use './blocks/titles';
@use './blocks/menu-section';
@use './blocks/header';
@use './blocks/move-free-section';
@use './blocks/compare-section';
@use './blocks/details-section';
@use './blocks/footer';
@use './blocks/contact-us-section';
@use './blocks/contact-section';

.photo {
  display: block;
  margin: 0 auto;
  padding-top: 40px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main {
  padding: 0 20px;
  box-sizing: border-box;
}
