*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  font-family: Poppins, sans-serif;
  background-color: rgba(29, 29, 29, 1);
  box-sizing: border-box;
}
